@use 'src/styles/media';
@use 'src/styles/variables';

.homepageLayout {
  display: flex;
  flex-direction: column;
  column-gap: variables.$column-spacing;

  @include media.tablet {
    flex-direction: row-reverse;
  }
}

.mainBody {
  flex: 1;

  h1 {
    font-size: 26px;
  }
}

.asideColumn {
  max-width: 320px;
}