@use 'src/styles/media';
@use 'src/styles/variables';

.homepageLayout {
  display: flex;
  flex-direction: column;
  column-gap: variables.$column-spacing;

  @include media.tablet {
    flex-direction: row-reverse;
  }
}

.mainBody {
  flex: 1;

  h1 {
    font-size: 26px;
  }
}

.asideColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: variables.$row-spacing;

  @include media.tablet {
    max-width: 320px;
  }
}

.alert {
  width: 100%;
  padding: variables.$base-spacing;
  margin-top: -(variables.$base-spacing);
  margin-bottom: calc(variables.$base-spacing * 3);
  border-radius: variables.$border-radius;
  background-color: variables.$color-brand-yellow;
}