@use 'src/styles/media';
@use 'src/styles/variables';

.homepageLayout {
  display: flex;
  flex-direction: column;

  @include media.tablet {
    flex-direction: row-reverse;
  }
}

.mainBody {
  flex: 1;

  h1,
  p {
    margin-bottom: calc(variables.$base-spacing * 2);
  }

  h1 {
    font-size: 26px;
  }
}

.asideColumn {
  max-width: 320px;
}