@import './variables';

@import '~leaflet/dist/leaflet.css';
@import 'scss-reset/_reset.scss';
@import 'scss-reset/_typography.scss';

@import './typography';

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto !important;
  }
}

body {
  background-color: $color-white;
}