@use 'variables';

h1 {
  color: variables.$color-brand-blue;
  font-size: 32px;
}

h1,
p:not(:last-child) {
  margin-bottom: calc(variables.$base-spacing * 2);
}

h2,
h3 {
  margin-bottom: variables.$base-spacing;
}

h2 {
  font-size: 24px;
  color: variables.$color-orange-20;
}

h3 {
  margin-top: calc(variables.$base-spacing * 2);
  font-size: 21px;
}

p {
  white-space: pre-line;
}

a,
a:visited,
a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus {
  color: variables.$color-brand-orange;
}