/**
 * Sizings
 */
 
$max-page-width: 1280px;

$breakpoints: (
  'tablet': 720px,
  'desktop': 996px,
);

$base-spacing: 15px;
$column-spacing: $base-spacing * 3;
$row-spacing: $base-spacing * 2;
$border-radius: $base-spacing / 2;


/**
 * Colours
 */

$color-brand-red: #d56062;
$color-brand-orange: #f37748;
$color-brand-yellow: #ecc30B;
$color-brand-blue: #067bc2;
$color-brand-light-blue: #84bcda;

$color-black: #000000;
$color-white: #ffffff;

$color-gray-10: #111111;
$color-gray-20: #444444;
$color-gray-30: #888888;
$color-gray-40: #cacaca;
$color-gray-50: #f8f8f8;

$color-blue-10: #005691;
$color-blue-20: #0069AB;
$color-blue-30: #067bc2;
$color-blue-40: #2A93D4;
$color-blue-50: #54AAE3;

$text-color: $color-gray-10;

/**
 * Typography
 */
$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;

$basic-font-size: 100%;
$paragraph: 21px;
$line-height: 33px;