/**
 * Sizings
 */
 
$max-page-width: 1280px;

$breakpoints: (
  'tablet': 720px,
  'desktop': 996px,
);

$base-spacing: 15px;
$column-spacing: $base-spacing * 3;
$row-spacing: $base-spacing * 2;
$border-radius: $base-spacing / 2;


/**
 * Colours
 */

$color-black: #000000;
$color-white: #ffffff;

$color-gray-10: #111111;
$color-gray-20: #444444;
$color-gray-30: #888888;
$color-gray-40: #cacaca;
$color-gray-50: #f8f8f8;

$color-orange-10: #ab4a23;
$color-orange-20: #d36034;
$color-orange-30: #f37748;
$color-orange-40: #fc8a5f;
$color-orange-50: #ff9f79;

$color-blue-10: #005691;
$color-blue-20: #0069ab;
$color-blue-30: #067bc2;
$color-blue-40: #2a93d4;
$color-blue-50: #54aae3;

$color-brand-red: #d56062;
$color-brand-orange: $color-orange-30;
$color-brand-yellow: #ecc30B;
$color-brand-blue: $color-blue-30;
$color-brand-light-blue: #84bcda;

$text-color: $color-gray-10;

/**
 * Typography
 */
$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;

$basic-font-size: 100%;
$paragraph: 21px;
$line-height: 33px;