@use 'src/styles/media';
@use 'src/styles/variables';

.partner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: variables.$base-spacing;
  padding: variables.$base-spacing;
  background-color: variables.$color-gray-50;

  &:last-of-type {
    margin-bottom: calc(variables.$base-spacing * 2);
  }

  p {
    margin-bottom: 0 !important;
  }

  h4 {
    font-weight: bold;
  }
}

.details {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  flex-shrink: 0;
  display: inline;
  margin-top: calc(variables.$border-radius * 2);
  padding: calc(variables.$base-spacing / 2);
  border-radius: variables.$border-radius;
  background-color: variables.$color-brand-red;
  color: variables.$color-white;
  font-size: 14px;
  font-weight: bold;
}

.testimonial {
  display: none;
  background-color: variables.$color-white;
  margin: variables.$base-spacing;
  padding: variables.$base-spacing;

  &.isExpanded {
    display: block;
  }

  p {
    margin: variables.$base-spacing 0;
    border-left: 6px solid variables.$color-gray-40;
    padding: 0 variables.$base-spacing;
    font-style: italic;
  }
}