@use 'src/styles/media';
@use 'src/styles/variables';

.navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(variables.$color-blue-20, 25%);
  font-weight: bold;
}

.inner {
  display: flex;
  flex-direction: column;
  column-gap: calc(variables.$base-spacing * 2);
  width: 100%;
  max-width: variables.$max-page-width;
  padding: 0 calc(variables.$base-spacing * 2);

  @include media.tablet {
    flex-direction: row;
  }
}

.navItem {
  padding: variables.$base-spacing 0;
  margin-bottom: 0;

  a,
  a:visited,
  a:visited:hover,
  a:hover,
  a:active,
  a:focus {
    color: variables.$color-white;
  }
}

.currentNavItem {
  @include media.tablet {
    background: url('/images/navigation-current.svg') bottom center no-repeat;
    background-size: 14px 7px;
  }
}