@use 'src/styles/media';
@use 'src/styles/variables';

.navBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(variables.$color-blue-20, 25%);
  font-weight: bold;
}

.inner {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: variables.$max-page-width;
  padding: 0 calc(variables.$base-spacing * 2);
  transition: all 0.25s ease-out;

  @include media.tablet {
    overflow: unset;
    opacity: 1;
    max-height: 1920px;
    transition: unset;
    flex-direction: row;
    margin-left: calc(-1 * variables.$base-spacing * 2);
  }

  &.isExpanded {
    overflow: auto;
    opacity: 1;
    max-height: 1920px;

    transition: all 1s ease-out;

    @media (prefers-reduced-motion) {
      transition: unset;
    }

    > .navItem {
      opacity: 1;
      transition: all 0.25s ease-out;

      @media (prefers-reduced-motion) {
        transition: unset;
      }
    }
  }

  @media (prefers-reduced-motion) {
    transition: unset;
  }
}

.navItem {
  z-index: 100;
  margin-bottom: 0;
  color: variables.$color-white;
  text-align: center;

  @include media.tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: unset;
  }

  > a,
  > span {
    padding: variables.$base-spacing;
    display: block;
    cursor: pointer;
  }

  a,
  a:visited,
  a:visited:hover,
  a:hover,
  a:active,
  a:focus {
    color: variables.$color-white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.currentNavItem {
  color: variables.$color-brand-yellow;

  @include media.tablet {
    background: url('/images/navigation-current.svg') bottom center no-repeat;
    background-size: 20px 6px;
    color: variables.$color-white;
  }
}

.button {
  width: 100%;
  padding: variables.$base-spacing 0;
  font-size: 21px;
  color: #fff;

  @include media.tablet {
    display: none !important;
  }

  &:focus,
  &:hover {
    background: rgba(255,255,255,0.1);
  }
}