@use 'src/styles/variables';

.map {
  :global {
    .leaflet-popup-content {
      width: 240px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      text-align: center;
    }
  }
}