@use 'src/styles/media';
@use 'src/styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  padding: calc(variables.$base-spacing * 2) variables.$base-spacing;
  background-color: variables.$color-brand-blue;
  color: variables.$color-white;
  font-size: 14px;
  line-height: 20px;

  a,
  a:visited,
  a:visited:hover,
  a:hover,
  a:active,
  a:focus  {
    color: variables.$color-white;
  }

  a,
  a:visited {
    text-decoration: underline;
  }
}

.footerInner {
  display: flex;
  flex-direction: column;
  column-gap: variables.$column-spacing;
  row-gap: variables.$row-spacing;
  width: 100%;
  align-self: center;
  justify-self: center;
  max-width: variables.$max-page-width;
  padding: 0 calc(variables.$base-spacing * 2);

  @include media.desktop {
    flex-direction: row;
  }
}

.footerSection {
  h2 {
    margin-bottom: variables.$base-spacing;
    color: variables.$color-white;
    font-size: 16px;
  }
}

.hccLogo {
  @include media.desktop {
    margin-left: auto;
  }

  h2 {
    font-size: 14px;
  }
}

.copy {
  display: block;
  margin-bottom: variables.$base-spacing;
  font-size: 16px;
  font-weight: bold;
}

.regNumbers {
  margin-bottom: variables.$base-spacing;
  line-height: calc(variables.$base-spacing * 2);
}

.contactDetails {
  line-height: calc(variables.$base-spacing * 2);
}